{% extends 'base.html'%}

{% block content %}
<div class="container" style="background-color: palevioletred;">
  <div class="row">
  <div class="col">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>
            Bienvenido {{ user.get_username }}
          </h2>
          <p>
            Tenemos una lista de productos exclusivos para ti. ¿Quieres conocer más?
          </p>
          <a href="{% url 'acerca' %}" class="btn btn-outline-light">Contáctanos</a>
      </div>
  </div>
</div>
<h1>Bienvenido a sus Flanes Privados</h1>

  <div class="row mt-4 mb-4">
  {% for flan in private_flans %}
      <div class="col-6 col-md-3">
          <div class="card mb-4" style="width: 230px; ">
              <img src="{{ flan.image_url }}" class="card-img-top" alt="" style="height: 200px">
          <div class="card-body">
              <h5 class="card-title">
              {{ flan.name }}
              </h5>
              <p class="card-text">
                  {{ flan.description }}
              </p>
              <!-- <a ref="#" class="btn btn-primary">Go somewhere</a>-->
              
          </div>
      </div>
</div>
  {% endfor %}
</div>
  <!--{{ flans }}-->

</div>
{% endblock content %}

